---
import type { RouterOutputs } from "@acme/api";

import { getMonthName } from "../utils/dateParser";

interface Props {
  post: RouterOutputs["post"]["all"][number];
}
const {
  post: { id, title, content, createdAt, author },
} = Astro.props;
---

<div class="flex gap-6">
  <div class="sm:w-10 md:w-20">
    <div class="flex w-full flex-col text-center">
      <span class="text-5xl font-semibold text-gray-500"
        >{new Date(createdAt).getDate()}</span
      >
      <span class="text-gray-400"
        >{
          `${getMonthName(createdAt)} ${new Date(createdAt).getFullYear()}`
        }</span
      >
    </div>
  </div>
  <div class="flex-1">
    <p class="text-xs">By {author.name}</p>
    <h4 class="text-indigo-500 text-xl font-semibold hover:underline">
      <a href={`/blog/${id}`} title={title}>{title}</a>
    </h4>
    <p class="line-clamp-2 hyphens-auto leading-6">
      {content}
    </p>
  </div>
</div>
